[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
python-decouple = "*"
pillow = "*"
djangorestframework = "*"
openai = "*"
requests = "*"
dj-stripe = "==2.5.1"
stripe = "==2.60.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
